body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F1CE ;
}

.navbar {
    background-color: #E06020;
}


.navbar-brand img {
     width: 40%;   
}    

.nav-link {
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}

#title {
    background-color: #D0D059;
}

.textbox {
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    color: #751613;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}


h2 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.tba img {
    margin-left: auto;
    width: 100%;
    transform: rotate(-2.5deg);
}

.container-fluid {
    padding: 3% 10%;
}

button {
    margin: 5% 3% 5% 0;
}
